# Default ignored files
/shelf/
/workspace.xml

# Android Studio & Gradle
.gradle/
.idea/
build/
captures/
externalNativeBuild/

# Archivos del entorno local
local.properties
*.iml

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
*.log
*.swp
*.swo

# Otros
.cxx/
